<h1>Productos</h1>
    
<div id="product-container">
    {{#each products}}
    <div class="product-card">
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <span>{{this.price}}</span>
    <br>
    <span>Stock: {{this.stock}}</span>
        {{#each this.thumbnails}}
        <img src="{{this}}">
        {{/each}}
    </div>
    {{/each}}
</div>



