{{#if cartFound}}
    <h1>Your Cart</h1>
    {{#if hasProducts}}
    <ul>

        {{#each products}}
            <li>{{this.product.title}}</li>
            <ul>
                <li>Price: $ {{this.product.price}}</li>
                <li>Quantity: {{this.quantity}}</li>
            </ul>
            <button onclick="javascript:removeFromCart('{{this.product._id}}')">Remove from cart</button>
        {{/each}}
    </ul>
    {{/if}}
{{else}}
    <h1>Cart id '{{cid}}' not found</h1>
{{/if}}