{{#if cartFound}}
<div class="container">
    <h2 class="display-3 text-center my-4">Shopping Cart</h2>
    <div class="row" id="cart-items" cart-id="{{cid}}">
        {{#if hasProducts}}
        {{#each products}}
        <div class="col-md-4 mb-3">
            <div class="card" id="{{this.product._id}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.product.title}}</h5>
                    <p class="card-text" id="price">Price: <span
                            id="price">{{this.product.price}}</span></p>
                    <p class="card-text" id="quantity">Quantity: <input
                            id="quantity" quantity="{{this.quantity}}"
                            name="quantity" type="number"
                            class="border-0 bg-transparent"
                            style="width: 3.2rem;"
                            value={{this.quantity}}><button
                            id="apply"
                            class="btn btn-primary transition disabled invisibility"
                            onclick="javascript:updateQuantity('{{this.product._id}}')">Apply</button></p>
                    <button class="btn btn-secondary"
                        onclick="javascript:removeFromCart('{{this.product._id}}')">Remove
                        from cart</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="/products" class="btn btn-primary">Continue Shopping</a>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-danger"
                onclick="javascript:clearCart()">Clear Cart</button>
        </div>
        {{else}}
        {{> message message="Cart is empty"}}
        <div class="col-md-6">
            <a href="/products" class="btn btn-primary">Continue Shopping</a>
        </div>
        {{/if}}
    </div>
</div>
{{else}}
{{> message error=true message="Cart not found"}}
<div class="col-md-6">
    <a href="/products" class="btn btn-primary">Continue Shopping</a>
</div>
{{/if}}
{{>alerts}}
<script src="/js/cart.js"></script>