{{#if cartFound}}
<div class="container">
  <h2 class="display-3 text-center my-4">Shopping Cart</h2>
  <div class="row" id="cart-items" cart-id="{{cid}}">
    {{#if hasProducts}}
    {{#each products}}
    <div class="col-md-4 mb-3" id="{{this.product._id}}" data-title="{{this.product.title}}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{this.product.title}}</h5>
          <p class="card-text" id="price">Price: <span id="price">{{this.product.price}}</span></p>
          <p class="card-text" id="quantity">Quantity: <input id="quantity" quantity="{{this.quantity}}" name="quantity"
              type="number" class="border-0 bg-transparent" style="width: 3.2rem;" value={{this.quantity}}><button
              id="apply" class="btn btn-primary transition disabled invisibility"
              onclick="javascript:updateQuantity('{{this.product._id}}')">Apply</button></p>
          <button class="btn btn-secondary" onclick="javascript:removeFromCart('{{this.product._id}}')">Remove
            from cart</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-6">
      <a href="/products" class="btn btn-primary">Continue Shopping</a>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-success mt-1" onclick="javascript:purchaseCart('{{cid}}')">Purchase
        Cart</button>
      <button type="button" class="btn btn-danger mt-1" onclick="javascript:clearCart()">Clear Cart</button>
    </div>
    {{else}}
    {{> message message="Cart is empty"}}
    <div class="col-md-6">
      <a href="/products" class="btn btn-primary">Continue Shopping</a>
    </div>
    {{/if}}
  </div>
</div>
{{else}}
{{> message error=true message="Cart not found"}}
<div class="col-md-6">
  <a href="/products" class="btn btn-primary">Continue Shopping</a>
</div>
{{/if}}
<!-- modal -->
<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="purchaseModalLabel">Purchase Details</h5>
      </div>
      <div class="modal-body">
        <p><strong>Ticket Code:</strong> <span id="ticketCode"></span></p>
        <p><strong>Purchase Date:</strong> <span id="purchaseDate"></span></p>
        <p><strong>Amount:</strong> <span id="purchaseAmount"></span></p>
        <p><strong>Purchaser:</strong> <span id="purchaser"></span></p>
        <div id="purchasedItems">
          <h5>Purchased items:</h5>
          <ul id="purchasedItemsList"></ul>
        </div>
        <div id="notPurchasedItems">
          <h5>Not Purchased Items:</h5>
          <ul id="notPurchasedItemsList"></ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{>alerts}}
<script src="/js/cart.js"></script>
