<h1 class="display-3 text-center mb-4">Your profile</h1>
<div class="container">
<div class="row justify-content-center">
    <div class="col-7 col-md-5 col-lg-4 card bg-secondary border-0">
        <div class="card-body">
            <h3 class="card-title">{{user.first_name}} {{user.last_name}}</h3>
            <p class="card-text">Email: {{user.email}}</p>
            <p class="card-text">Age: {{user.age}}</p>
            <p class="card-text">Role: {{user.role}}</p>
        </div>
    </div>
</div>
</div>